@import "tailwindcss";

@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

:root {
  --background: #f1f2f2;
  --foreground: #0d0019;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  .remove-arrow::-webkit-outer-spin-button,
  .remove-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .remove-arrow {
    -moz-appearance: textfield;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SpaceGrotesk", "Helvetica, sans-serif";
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
